services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: benchmark_db
    command:
      - --max_connections=200
    ports:
      - "3306:3306"

  node-app:
    build: ./node-app
    ports: ["3000:3000"]
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: benchmark_db
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 500M

  go-app:
    build: ./go-app
    ports: ["8080:8080"]
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: benchmark_db
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 500M

  rust-app:
    build: ./rust-app
    ports: ["8081:8080"]
    environment:
      DATABASE_URL: mysql://root:root@db:3306/benchmark_db
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 500M
